{{ if isset .Site.Params.widgets "search" }}
{{ if .Site.Params.widgets.search }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">{{ i18n "searchTitle" }}</h3>
    </div>

    <!-- USING something based o\n https://blog.vrobot.uk/post/add-duckduckgo-search-to-a-hugo-generated-blog/ -->
    <div class="panel-body">
      <form onsubmit="myFunction(searchboxid); return false;" method="get" accept-charset="UTF-8" role="search">
        <input type="search" name="q" class="form-control" id="searchboxid" placeholder="{{ i18n "searchTitle" }}">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
        </span>
      </form>

      <script language="javascript">
      function myFunction(searchboxid) {
        if (window.location.hostname == "localhost") {
          console.log( "Running on localhost not a proper domain so cannot search via duckduckgo.com" );
          return;
        }
        var q = document.getElementById('searchboxid').value;
        q = encodeURIComponent( q );
        // var site = "rv1.tech";
        var site = "{{ .Site.BaseURL }}" ;
        var url  = "https://duckduckgo.com?q=" + q + "+site:" + site;
        console.log( url );
        window.open(url, "_self");
      }
      </script>
    </div>
</div>
{{ end }}
{{ end }}
