/*ANIMATIONS*/
@keyframes reveal {
  0% {opacity: 0}
  100% {opacity: 1}
}
@keyframes semiReveal {
  0% {opacity: .5}
  100% {opacity: 1}
}
@keyframes slideFromTop {
  0% {transform: translateY(-100%);}
  75% {transform: translateY(2%);}
  100% {transform: translateY(0);}
}
@keyframes slideFromLeft {
  0% {transform: translateX(-100%);}
  75% {transform: translateX(2%);}
  100% {transform: translateX(0);}
}


/*FONTFACE*/

/*@font-face {
  font-family: 'KaushanScriptRegular', cursive;
  font-family: 'Kaushan Script';
  src: url('font/kaushan-script/KaushanScript-Regular.ttf');
  src: url('font/kaushan-script/src/KaushanScript-Regular.otf');
  src: url('font/kaushan-script/src/KaushanScript-Regular.vbf');
  src: url('font/kaushan-script/src/KaushanScript-Regular-OTF.vbf');
  src: url('font/kaushan-script/src/KaushanScript-Regular-TTF.vbf');
}*/

::-moz-selection { /* Code for Firefox */
  /*color: #fff;*/
    color: #151515;
    /*background: rgb(108, 128, 21);*/
    background: #BFC66E;
    /*background: rgb(108, 128, 21, .8);*/
}

::selection {
    /*color: #fff;*/
    color: #151515;
    /*background: rgb(108, 128, 21);*/
    background: #BFC66E;
    /*background: rgb(108, 128, 21, .8);*/
}

footer *::-moz-selection, #heading-breadcrumbs *::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #940F27;
}

footer *::selection #heading-breadcrumbs *::-selection {
  color: #fff;
  background: #940F27;
}

* {
  outline: none;
  /*transform-origin: center center;*/
}

body {
  /*background-image: url('../img/texture_light.png');*/
  /*background-image: url('../img/wood_texture_vert.png');*/
  background-image: url('../img/tile_light.png');
  background-attachment: fixed;
  background-color: #FEF3D0;
}

a, #blog-listing-medium .post .date-comments a:hover {
  color: #940F27;
  transition: all .5s .1s;
}
a:hover, a:active, a:focus {
  color: #6B001F;
  transition: all .3s;
}

#blog-listing-medium .post h2 a:hover {
  color: #4B5014;
}

/*STRIPES CENTRAL SERVICIOS ETC*/
.bar.background-white {
  background-color: transparent;
  background: none;
  /*background-color: rgba(102, 14, 30,.2);*/
  /*padding-bottom: 35px;*/
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
 html, body, p, .btn, .pager li > a, .pager li > span {
  /*font-family: 'KaushanScriptRegular', cursive;*/
  /*font-family: 'AveriaRegular';*/
  /*font-family: 'AveriaSansGWFRegular';*/

  /*font-family: 'ArimaKoshiRegular';*/
  font-family: 'BellotaRegular';
  /*font-family: 'GrundschriftRegular';*/
  /*font-family: 'SnigletRegular';*/
  /*font-family: 'SansitaRegular';*/
}

h1, h2, h3, h4, h5, h6,
.box-simple h1, .box-simple h2, .box-simple h3, .box-simple h4, .box-simple h5, .box-simple h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #1E2014;
}

strong {
  color: #2B320E;
}

p {
  text-align: justify;
}

/*0 #ced677*/
/*1 #D4E390*/
/*2 #E2F295*/
/*3 #CAD594*/
/*4 #D2DA7E*/


.home-carousel {
  background: #D2DA7E;
  background-image: url('../img/texture_light.png');
  /*border-bottom: 4px solid rgba(0, 0, 0, 0.1);*/
  /*border-bottom: 2px solid rgba(213, 207, 178, 0.8);*/
  border-bottom: 2px solid rgba(131, 146, 47, .6);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.home-carousel .owl-carousel {
  padding-top: 30px;
}

.home-carousel .dark-mask {
  /*background: rgba(0, 0, 0, 0.2);*/
  /*background: rgba(249, 228, 164, 0);*/
  background: url('../img/wood_texture.png');
  /*background: url('../img/tile_light.png');*/
}
.home-carousel h1, .home-carousel h2, .home-carousel h3, .home-carousel h4, .home-carousel p, .home-carousel li {
  /*color: #49000D;*/
  color: #fff;
  text-transform: none;
  display: none;
}


.owl-theme .owl-controls .owl-page,
.owl-theme .owl-dots .owl-dot {
  transition: all .4s;
  border-radius: 8px;
}

.owl-theme .owl-controls .owl-page.active,
.owl-theme .owl-dots .owl-dot.active {
  background: rgba(0,0,0,.1);
  padding: 0px 8px;
  margin: 0px 5px;
  transition: all .5s .3s;
}
@media (max-width: 767px) {
  .owl-theme .owl-controls .owl-page.active,
  .owl-theme .owl-dots .owl-dot.active {
    background: rgba(0, 0, 0, 0);
    padding: inherit;
    margin: inherit;
  }
}

.home-carousel .owl-theme .owl-controls .owl-page span, .owl-theme .owl-dots .owl-dot span {
  transition: all .3s;
  background: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
.home-carousel .owl-theme .owl-controls .owl-page.active span, .home-carousel .owl-theme .owl-controls .owl-page:hover span,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
}

.home-carousel > .container {
  padding-left: 0;
  padding-right: 0;
  /*margin-left: 0;*/
  /*margin-right: 0;*/
}

/*.owl-stage-outer, */
.owl-carousel .owl-item img {
  width: auto;
  /*max-height: 280px;*/
  max-height: 40vw;
  max-height: 360px;
}

/*@media (max-width: 767px) {
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 80vw;
    margin: 30px 10vw 30px 10vw;
    align-content: center;
  }
}*/
.owl-carousel .owl-item img {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
  /*padding-top: 16px;*/
  /*padding-bottom: 16px;*/
  padding: 16px;
  /*background: #4D5B16;*/
  /*background: #8a9238;*/
  background: #AAB250;
  background-image: url('../img/tile.png');
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  /*border: 7px solid rgba(255, 255, 255, 0.3);*/
}
.owl-carousel .owl-item img {
  /*width: 50%;*/
  box-shadow: 0 2px 10px -4px rgba(0, 0, 0, .6);
  border-radius: 4px;
  border: 1px solid rgba(100, 100, 100, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.owl-theme .owl-nav {
  /* margin-top: 10px; */
  position: relative;
  top: -5px;
  z-index: -1;
  margin: 20px 5px 5px 5px;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  transition: all .3s;
  /*background: linear-gradient(#620a19, #940F27 30%);*/
  /*background: linear-gradient(#181e03 40%, #323b0a 80%);*/
  /*background: #4D5B16;*/
  background-color: #A5AD4E;
  background-image: url('../img/tile.png');
  /*padding: 18px 14px 4px 14px;*/
  padding: 0px 14px 4px 14px;
  color: #FEF3D0;
  box-shadow: 0 1px 6px -2px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}
.owl-carousel .owl-nav .owl-prev {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.owl-carousel .owl-nav .owl-next {
  border-radius: 0 6px 6px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.owl-carousel .owl-nav .owl-next:hover, .owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:focus, .owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:active, .owl-carousel .owl-nav .owl-prev:active {
  /*transition: all .3s;*/
  /*background: linear-gradient(#620a19, #A21E36 30%);*/
  /*background: linear-gradient(#2E3709 20%, #556411 70%);*/
  background-image: url('../img/tile.png');
  background-color: #868C3F;
}


/*TOP*/
#top {
  /*background: #a0b47c;*/
  /*background: #1e220c;*/
  /*background: url('../img/wood_texture.png');*/
  /*background-color: #580917;*/
  background: #8a9238;
  background-image: url('../img/tile.png');
  border-top: 2px solid rgba(0,0,0,.08);
  padding-top: 12px;
  /*border-bottom: 2px solid rgba(0,0,0,.18);*/
}

.retroshare {
  background-image: url('../img/retroshare-symbol.png');
  height: 1.2em;
  width: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  /*transform: rotateY(50px);*/
  top: 4px;
  left: 4px;
  margin: 0;
  padding: 0;
}

#top .social a, p.hidden-md.hidden-lg,
.social a, #footer i.fa {
  /*color: #636b40;*/
  /*color: #DAC070;*/
  /*color: rgba(148, 15, 39, .8);*/
  /*color: rgba(176, 58, 53, .7);*/
  /*color: rgba(0, 0, 0, .4);*/
  color: rgba(0, 0, 0, 1);
  opacity: .4;
  /*text-shadow: 0 1px 5px rgba(0,0,0,.3);*/
  font-size: 1.5em;
}

div.social_external {
  text-align: center;
  margin-top: 30px;
}

#top p.hidden-md.hidden-lg a {
  font-size: 1.3em;
}
#top p {
  /*text-shadow: none;*/
}
#top a {
  text-shadow: none;
  /*color: #DAC070;*/
  color: rgba(0, 0, 0, .55);
  font-weight: bold;
  transition: all .5s .1s;
}

#top .social a:hover, #top a:hover, #top p.hidden-md.hidden-lg a:hover,
#top .social a:focus, #top a:focus, #top p.hidden-md.hidden-lg a:focus,
#top .social a:active, #top a:active, #top p.hidden-md.hidden-lg a:active,
#footer i.fa:hover, #footer i.fa:active, #footer i.fa:focus {
  /*color: #DAC070;*/
  /*color: rgba(0, 0, 0, .65);*/
  opacity: .65;
  transition: all .3s;
}

/*NAVBAR*/
.navbar > .container {
  /*padding: 0;*/
  /*padding-left: 15px;*/
  width: 100%;
}

.navbar-default {
  background: url('../img/wood_texture.png');
  /*background-color: #424E0D;*/
  background-color: #940F27;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.2);
  transition: all .5s;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0,0,0,.2);
}

.navbar-brand {
  padding: 12px 15px;
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 280px;
  }
}

.navbar-brand > img {
  max-height: 40px;
}

.affix-top > .navbar > .container > .navbar-header > .navbar-brand  {
  /*transform: translateX(-78px);*/
  transition: all 0s;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/home_draw.png');
  /*background-image: none;*/
  margin-left: 15px;
  min-width: 200px;
  animation: reveal 1s;
}
.affix > .navbar > .container > .navbar-header > .navbar-brand {
  /*transform: translateX(0px);*/
  transition: all 0s;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/logo_draw.png');
  margin-left: 15px;
}
.affix-top > .navbar > .container > .navbar-header > .navbar-brand > img,
.affix > .navbar > .container > .navbar-header > .navbar-brand > img {
  visibility: hidden;
  display: none;
  /*opacity: .15;*/
}

@media (max-width: 840px) {
  .affix > .navbar > .container > .navbar-header > .navbar-brand,
  .affix-top > .navbar > .container > .navbar-header > .navbar-brand  {
    /*margin-left: 0;*/
    margin-right: 0;
    padding-right: 0;
    min-width: 150px;
    width: 174px;
    transform: translate(-15px, 10px);
  }
}
@media (max-width: 767px) {
  .affix-top > .navbar > .container > .navbar-header > .navbar-brand > img,
  .affix > .navbar > .container > .navbar-header > .navbar-brand > img {
    display: block;
    visibility: visible;
  }

  .affix-top > .navbar > .container > .navbar-header > .navbar-brand > img {
    display: none;
    visibility: hidden;
  }
  .affix > .navbar > .container > .navbar-header > .navbar-brand > img {
    visibility: hidden;
    /*display: none;*/
  }
  .affix > .navbar > .container > .navbar-header > .navbar-brand,
  .affix-top > .navbar > .container > .navbar-header > .navbar-brand  {
    transform: translate(0,10px);
  }
}

.navbar ul.nav > li > a {
  /*font-family: 'Kaushan Script', cursive;*/
  text-decoration: none;
  /*color: #304a0c;*/
  color: #fff;
  animation: semiReveal .6s;
}

.navbar-nav > li > a,
.navbar ul.nav > li > a {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-bottom: 9px;

  border-radius: 5px;
  border-top: none;
  border: 1px solid rgba(255,255,255,0);
  /*border: 1px solid rgba(0,0,0,.1);*/
  /*background-color: rgba(0,0,0,.05);*/
  /*box-shadow: 0 1px 6px -2px rgba(0,0,0,.3);*/
  text-align: center;
  margin-left: 10px;
  outline: none;
  text-shadow: 0 1px 6px rgba(0,0,0,.5);
}

@media (max-width: 840px) {
  .navbar-nav > li > a,
  .navbar ul.nav > li > a {
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .navbar-nav > li > a,
  .navbar ul.nav > li > a {
    margin-left: 40px;
    margin-right: 40px;
  }

}

.navbar ul.nav > li > a:hover, .navbar ul.nav > li > a:focus, .navbar ul.nav > li > a:active,
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
  /*border-top-color: #4c1353;*/
  /*background-color: #773b84;*/
  /*border-top-color: #F2DA8D;*/
  /*border-top-color: rgba(0,0,0,.2);*/
  /*background-color: #667E3A;*/
  border: 1px solid rgba(0,0,0,.2);
  /*border: 1px solid rgba(255,255,255,.25);*/
  background-color: rgba(0,0,0,.2);
  /*background-color: rgba(255,255,255,.1);*/
  color: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0,.4);
  transition: all .5s;
}


.navbar-nav > li > a:active, .navbar ul.nav > li > a:active {
  transform: scale(.9);
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0,.5) inset;
}

.navbar-affixed-top, .navbar-affixed-top.affix, body.boxed #all {
  /*box-shadow: 0 -3px 30px -5px rgba(0,0,0,.7);*/
  /*box-shadow: 0 -3px 40px 2px rgba(0,0,0,.5);*/
  box-shadow: 0 5px 20px -2px rgba(0,0,0,.4);
}

/*BUTTON MOBILE*/
.navbar .navbar-buttons button, .navbar .navbar-buttons a.btn, .navbar .navbar-buttons .btn-default.navbar-toggle, .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  /*border: none;*/
  border-radius: 4px;
  /*color: #773b84;*/
  /*color: #e8f4c4;*/
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active,  {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, .3);
  background-color: rgba(0,0,0,.4);
}

/*BLOG*/
.box-image-text .content p {
  color: #444;
}

#heading-breadcrumbs {
  /*border-bottom: 4px solid rgba(0,0,0,.05);*/
  /*background: linear-gradient(#FBECBE, rgba(255, 255, 255, 0));*/
  background: url('../img/wood_texture.png');
  /*background-image: url('../img/tile.png');;*/
  /*background-color: #6C8015;*/
  background-color: #D2DA7E;
  margin-bottom: 50px;
  /*box-shadow: 0 -2px 10px rgba(0,0,0,.4);*/
  box-shadow: 0 -2px 10px rgba(0,0,0,.3);
  /*border-bottom: 2px solid rgba(0,0,0,.25);*/
  border-bottom: 2px solid rgba(0,0,0,.1);
  padding: 0;
  transition: all 0s;
}

#heading-breadcrumbs h1::before {
  /*position: relative;*/
  /*float: left;*/
  position: absolute;
  left: 0;
  height: 80px;
  width: 118px;
  margin: 4px 0px;
  padding: 0;
  content: '';
  transform: translate(35px,-26px);
  background-image: url('../img/logo_compact.png');
  background-size: contain;
  opacity: .8;
}

#heading-breadcrumbs h1, #heading-breadcrumbs h2, #heading-breadcrumbs h3, #heading-breadcrumbs h4, #heading-breadcrumbs p {
  /*font-family: 'KaushanScriptRegular', cursive;*/
  /*font-family: 'Kaushan Script';*/
  text-transform: none;
  font-size: 1.8em;
  text-align: center;
  animation: semiReveal .6s;
  /*transform: translate(-30px, 16px);*/

  /*border-bottom: 1px solid rgba(255,255,255,.5);*/
  /*box-shadow: 0 20px 30px -30px rgba(0,0,0,.4);*/
  /*padding-top: 18px;*/
  /*padding-bottom: 50px;*/
  /*color: #49000d;*/
  /*color: #fff;*/
  color: rgba(0,0,0,.7);
  /*color: #F8E5A9;*/
  /*color: #FEF3D0;*/
  /*text-shadow: 0 2px 6px rgba(0,0,0,.2);*/
  padding-bottom: 3px;
  transition: all 0s;
}
@media (max-width: 400px) {
  #heading-breadcrumbs h1::before {
    display: none;
  }
  #heading-breadcrumbs h1 {
    transform: translate(0, 0);
  }
}

/*OTHER FORMATTING*/
.heading h2 {
  color: #1D2D08;
  /*color: #49000d;*/
  /*border-bottom: solid 4px #A8C32C;*/
  border-bottom: solid 4px #C3CA75;
  /*border-bottom: solid 4px #7D0017;*/
}


/*FOOTER*/
#footer {
    /*color: #b6c68c;*/
    /*color: #787042;*/
    color: #383C25;
    /*background: #41482c;*/
    /*background: #FBECBE;*/
    background: #D2DA7E;
    /*border-top: 4px solid rgba(0,0,0,.05);*/
    border-top: 2px solid rgba(0,0,0,.05);
    padding-top: 40px;
    padding-top: 40px;
    /*background-image: url('../img/texture_light.png');*/
    /*background-image: url('../img/tile.png');*/
    background-image: url('../img/wood_texture.png');
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  /*color: #45531c;*/
  /*color: #49000d;*/
  /*color: #3C3821;*/
  color: #1E2014;
}
/*#footer a {
  color: #4A5514;
}*/
#copyright {
  /*background: #660E1E;*/
  background: #940F27;
  /*background-image: url('../img/texture_dark.png');*/
  background-image: url('../img/wood_texture.png');
  /*box-shadow: 0 3px 10px rgba(0,0,0,.7);*/
  /*border-top: 4px solid rgba(0,0,0,.25);*/
  /*border-top: 2px solid rgba(0,0,0,.3);*/
  /*color: #FEF3D0;*/
  color: #fff;
  border-top: 2px solid rgba(0,0,0,.25);
}
#copyright a {
  color: #FED85E;
}

/*recents*/
#footer .blog-entries .item {
  border: none;
}
#footer .blog-entries .item .name h5 a {
  color: rgba(134,11,33,.8);
}

/*BUTTONS*/

.btn {
  border-radius: 5px;
}
.btn-template-main {
  background: none;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.2);
  border-radius: 5px;
}
.btn-template-main:hover {
  background: rgba(0,0,0,.2);
  color: rgba(0,0,0,.6);
  border-color: rgba(0,0,0,.4);
}
hr {
  /*border-top: 1px dashed rgba(0,0,0,.3);*/
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 2px solid rgba(255,255,255,.18);
}

input[type=search].form-control {
  max-width: 80%;
  display: inline-block;
}

span.input-group-btn {
  display: inline-block;
}

span.input-group-btn button.btn.btn-template-main {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 11px;
  padding-left: 5px;
}
.input-group-btn:last-child>.btn:hover, .input-group-btn:last-child>.btn-group:hover {
  background: none;
  color: rgba(0, 0, 0, 0.8);
}

/*background fixed overlay */
.bar .dark-mask {
  opacity: .4;
}

/*CONTAINER*/

#content div.container {
  text-align: justify;
  /*margin: 20px 30px 60px 30px;*/
  margin-bottom: 80px;
  padding: 0 10vw;
}

div.container > div > div > h3, div.container > div > div > p {
  text-shadow: 0 2px 10px rgba(0,0,0,.6);
}

div.container > div > div > p.text-center > a {
  background-color: rgba(255,255,255,.2);
  border-color: rgba(255,255,255,.4);
  box-shadow: 0 2px 15px -2px rgba(0,0,0,.4);
  text-shadow: 0 1px 6px rgba(0,0,0,.6);
}

div.container > div > div > p.text-center > a:hover,
div.container > div > div > p.text-center > a:active,
div.container > div > div > p.text-center > a:focus {
  box-shadow: 0 2px 20px rgba(0,0,0,.5);
  border-color: rgba(255,255,255,.8);
  background-color: rgba(255,255,255,.3);
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.8);
}

/*BANNER LOGO HOMEPAGE*/
section#banner_logo {
  background-image: url('../img/elpoblet_logo_banner.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 0 30px;
  margin: 0;
  /*border-bottom: 2px solid rgba(0,0,0,.2);*/
  /*animation: slideFromLeft 1.5s;*/
  animation: semiReveal 2s;

}
section#banner_logo::after {
  float: left;
  bottom: 100%;
  transform: translateY(-10%);
  background: #fff;
  height: 100px;
  width: 100px;
}

/*BLOG*/
.panel.sidebar-menu {
  background: none;
}

.panel.sidebar-menu .panel-heading h1, .panel.sidebar-menu .panel-heading h2, .panel.sidebar-menu .panel-heading h3, .panel.sidebar-menu .panel-heading h4, .panel.sidebar-menu .panel-heading h5 {
  border-bottom: solid 4px rgb(194,201,117);
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(194,201,117,1);
  border-color: rgba(194,201,117,1);
}

#content div.panel-body > ul > li a {
  padding: 8px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
#content div.panel-body > ul > li a:hover {
  background: none;
  background: rgba(194,201,117,.5);
}
#content div.panel-body > ul.tag-cloud > li a {
  border-radius: 4px;
  background: rgba(148, 15, 39,.7);
  color: #fff;
}
#content div.panel-body > ul.tag-cloud > li a:hover {
  background: rgba(148, 15, 39,1);
}

.pager li > a, .pager li > span, .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
  border-radius: 4px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, .6);
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, .4);
}
.pager li > a:hover, .pager li > span:hover, .pager li > a:focus, .pager li > span:focus {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

div.container > div > div > h3, div.container > div > div > p {
  text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

/*SERVICES*/

.box-simple .icon {
  /*color: #660E1E;*/
  /*border-color: #660E1E;*/
  color: #940F27;
  border-color: #940F27;
}

.box-simple p {
  text-align: justify;
  color: #333;
}

ul#langs {
  position: relative;
  margin: 30px 0 0 0;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
ul#langs li.lang {
  display: inline-block;
  list-style: circle;
  /*height: 30px;*/
  /*width: 30px;*/
  text-align: center;
  padding: 5px 10px;
  margin: 4px 4px;
  /*background: url('../img/wood_texture.png');*/
  /*border-radius: 5px 5px 0 0;*/
  border-radius: 20px;
  /*background-color: #68091a;*/
  /*background-color: #940F27;*/
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  /*background-color: rgba(0,0,0,.1);*/
  /*color: #940F27;*/
  /*color: #fff;*/
  color: rgba(0,0,0,.6);
  font-weight: 900;
  transition: all .5s .15s;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.2);
  /*opacity: .7;*/
  /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
}
ul#langs li.lang:hover, ul#langs li.lang:active, ul#langs li.lang:focus {
  /*background-color: #A4233A;*/
  background-color: #940F27;
  color: #fff;
  /*padding: 2px 16px;*/

  transition: all .3s;
  /*opacity: 1;*/
}
