{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>

            <div class="owl-carousel owl-theme">
              {{ range sort .Site.Data.carousel "weight" }}
                {{ if .image}}
                  <div class="item">
                    <img class="owl-lazy" src="{{ $.Site.BaseURL }}{{ .image }}" alt="{{ .image }}"/>
                  </div>
                {{ else }} {{ if .videoURL }}
                  <div class="item-video" data-merge="3">
                    <a class="owl-video owl-lazy" href="{{ $.Site.BaseURL }}{{ .videoURL }}"></a>
                  </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
