{{ if .Site.IsMultiLingual }}
  <ul id="langs">
    {{ range .Site.Languages }}
      <a href="{{ $.Site.BaseURL }}{{ . }}" id="{{ . }}"><li class="lang">{{ .LanguageName }}</li></a>
    {{ end }}
  </ul>
{{ end }}
