<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          <!-- {{ partial "top.html" . }} -->

          <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}"><section id="banner_logo"></section></a>

          {{ partial "nav.html" . }}

        </header>

        <!-- <a href="{{ .Site.BaseURL }}"><section id="banner_logo"></section></a> -->

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}


        {{ partial "footer.html" . }}

      </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
